.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .form {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    background: #e8eaf6
}
.background{
  background-image: url('C:/Users/IRA/Desktop/edWisor/Project/Issue Tracking Tool/issue-tracker/src/app/background/web-background-2.jpeg');
  min-height: 100vh;
}